
	
<div class=row id="autor">  

<div class="col-md-4" ><img class="img-circle" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/7/005/07c/394/0411004.jpg" class="img-responsive" alt="Cinque Terre"></div>
<div class="col-md-8" >
<h1>Pablo Alexis Valdivia Muñoz</h1>
          <p>Linkedin <strong> <a target ="_blank" href="https://pe.linkedin.com/in/pablovaldivia">Perfil Profesional</a>	 </strong> </p>	
          <p>Tecnologías utilizadas:</p>
<ul>
	<li><a target="_blank" href="http://sass-lang.com/">Sass/Compass</a> </li>
	<li><a href="http://getbootstrap.com/" target="blank">bootstrap para Sass</a></li>
	<li><a target="_blank" href="http://www.heroku.com">Heroku</a> ver demo <a href="https://quiz-2015-pavm.herokuapp.com/" target="blank">"click aquí"</a></li>
	<li><a href="https://github.com/PabloValdivia/quiz-2015-pavm" target="blank">Github</a></li>
	<li><a href="https://nodejs.org/" target="blank">NodeJS</a></li>
	<li><a href="http://expressjs.com/es/" target="blank">Express Framework para NodeJS</a></li>
</ul>

</div>


	
</div><!--fin row-->
	