<!DOCTYPE html>
<html>
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Preguntas</title>
  <link rel="stylesheet" href="/stylesheets/app.css">
  <!--link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' 
        type='text/css'
        media='only screen and (min-width: 530px) and (min-device-width: 481px)'
        href='/stylesheets/wide.css' />
  <link rel='stylesheet'
        type='text/css'
        media='only screen and (max-width: 480px)' 
        href='/stylesheets/smartphone.css' /-->
  </head>
  <body>


<header class="main" id="h1">	
	<div class="container">
		<h2>Quiz: el juego de las preguntas</h2>
	<nav class="main" id="n1" role="navigation">
	<ul>
		<li><span><a href="/">Inicio</a></span></li>
		<li><span><a href="quizes/question">Preguntas</a></span></li>
		<li><span><a href="autor">Autores</a></span></li>
	</ul>
	</nav>
	</div>
</header>



<section class="main" id="s1">
<div class="container">
<div class="row">
        <div class="col-sm-12">
		<%- body %>
		</div>
</div>
</section>

<footer class="main" id="f1">
<div class="container">

	<a href="http://es.wikipedia.org/wiki/Quiz">¿Qué es Quiz?</a>
</div>
</footer>




</body>
</html>
